p {
  color: #084d1b;
}

.title .title-text {
  color: red;
}
.title .title-text:hover {
  color: #947;
}

.paragraph {
  color: blue;
  margin: auto;
  width: calc(100vw - 20px);
  font-size: safe-font(12);
}

.banner-img {
  position: relative;
  height: 30vh;
  margin: 2em 5em 2em 5em;
}

.list {
  list-style: none;
  margin: 1em;
  padding: 0.5em;
  color: black;
  background-color: #B4520E;
  color: black;
}

a:link {
  list-style: none;
  margin: 1em;
  padding: 0.5em;
  color: black;
}

.body-class {
  color: orange;
}

.f_test_one {
  color: #005aff;
}

.class_one .class_two {
  color: black;
}
